
*{
    margin: 0;padding: 0;
}.container{
    height: 100vh;
    width: 100%;
    /* background-repeat: no-repeat; */
    background-image: url("pic/mountain2.jpg");
    background-size: cover;
    background-position: center;
}
.navbar nav{
    text-align: right;
    text-decoration: none;
    padding-right: 20px;
}
.navbar nav a{
    text-decoration: none;
    margin: 20px;
    font-size: 2vw;
    color: rgb(229, 229, 229);
    padding:9px;
    background-color: blanchedalmond;
}
.picture{
    /* padding: 20px 20px 20px 20px; */
    padding-top: 40px;
    padding-left: 90px;
    display: flex;
    justify-content: last baseline;

}
.navbar nav a:hover{
    background-color: rgb(145, 184, 201);
    border-bottom:solid black;
}
.col h1{
    font-size: 80px;
    font-family: 'Exo 2', sans-serif;
font-family: 'Playfair Display', serif;

}
.col p{
    font-size:15px ;
    font-family: 'Exo 2', sans-serif;
font-family: 'Playfair Display', serif;

}
.col button{
    height: 30px;
    width: 100px;
    background-color: rgb(197, 190, 190);
    color: rgb(9, 8, 8);
    font-size: 20px;
    /* padding 12px 0px; */
    margin:20px
}
.row{
    display: flex;
    align-items: center; 
    height: 50vh;
    padding-left: 90px;
    font-size: 1.4vw;
    color: white;
    flex-wrap: nowrap;
    /* background-color: pink; */
}
.box{
    height: 500px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.5s;
    flex-wrap: wrap;
}
.box1{
    height: 300px;
    width: 400px;
    background-image: url("pic/leopard.jpg");
    background-size: cover;
    background-position: center;
    /* background-color: aqua; */
    border: 1px solid rgb(180, 124, 124);
    transition: transform 0.5s;
}
.box2{
    height: 300px;
    width: 400px;
    background-image: url("pic/yak.jpg");
    background-size: cover;
    background-position: center;
    /* background-color: aqua; */
    border: 1px solid rgb(180, 124, 124);
}.box3{
    height: 300px;
    width: 400px;
    background-image: url("pic/people.jpg");
    background-size: cover;
    background-position: center;
    /* background-color: aqua; */
    border: 1px solid rgb(180, 124, 124);
}
.container1{
    height: 120vh;
    width: 100%;
    background-color: rgb(32, 32, 60);
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}
.box4{
    height: 100vh;
    width: 30%;
    border: 4px solid rgb(37, 35, 35);
    background-color: rgb(192, 114, 114);
    border-radius: 10px;
    color: aliceblue;
    /* border-bottom-left-radius: 240px; */
    /* border-bottom-right-radius: 240px; */
    /* border-top-right-radius: 240px; */
    /* border-top-left-radius: 240px; */
}
.box4 h4{
    text-align: center;
    font-size: 60px;
}
.box4 p{
    text-align: center;
    font-size:20px ;
font-family: 'Exo 2', sans-serif;
font-family: 'Playfair Display', serif;
}
.box5
{
    height: 40vh;
    width: 20%;
    border: 4px solid rgb(37, 35, 35);
    background-color: white;   
    background-image: url("pic/pep1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 120px;
    border-top-right-radius: 120px;
    /* float: left; */
}
.box6
{
    height: 40vh;
    width: 20%;
    border: 4px solid rgb(37, 35, 35);
    background-color: white;   
    background-image: url("pic/pep2.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 120px;
    border-top-right-radius: 120px;
}
.box7
{
    height: 40vh;
    width: 20%;
    border: 4px solid rgb(37, 35, 35);
    background-color: white;   
    background-image: url("pic/pep3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 120px;
    border-top-right-radius: 120px;
}
